<body background="https://pre00.deviantart.net/402c/th/pre/i/2010/191/3/b/blue_website_background___psd_by_fisher_12.jpg">
<div class="page-info-section set-bg" style="background-image:url(/assets/page-bg/1.jpg)">
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Home</a>
      <span>Coding Examples</span>
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- search section -->
<section class="search-section ss-other-page">
  <div class="container">
    <div class="search-warp">
      <div class="section-title text-white">
        <h2><span>Search your any Coding Example</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <!-- search form -->
          <form class="course-search-form">
            <input type="text" placeholder="Code Name">
            <input type="text" class="last-m" placeholder="Category program (e.g java,c,c++)">
            <button class="site-btn btn-dark">Search Course</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- search section end -->

<section style="background:url(http://blog.hostbaby.com/backgrounds/bg_grungehalftone.jpg); background-repeat: no-repeat;">
<!-- course section -->

<div class="container">
<div class="row">
<div class="col-12 text-center">

</div>
<div class="text-center margin-20">
<div class="fb-like" data-href="http://www.studytonight.com/c/programs/" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
</div>
</div>
<br /><hr />
<div class="row">
<div class="col-12"><h3 class="roboto darkest-grey">Program List in C</h3></div>
</div>
<br />
<div class="row">
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Start with Basic Programs</b></p>
<ul class="counter-list">
<li><a href="basic/hello-world">Hello World</a></li>
<li><a href="basic/different-data-type-input">Taking Input from User</a></li>
<li><a href="basic/ascii-value-of-character">Find ASCII Value of Character</a></li>
<li><a href="basic/use-of-gets">Using gets() function</a></li>
<li><a href="basic/if-else">If-Else</a></li>
<li><a href="basic/switch-case">Switch Case</a></li>
<li><a href="basic/check-vowel-using-switch-case">Checking for Vowel</a></li>
<li><a href="basic/reversing-case-of-character">Reversing Case of Character</a></li>
<li><a href="basic/swapping-two-numbers-program">Swapping Two Numbers</a></li>
<li><a href="basic/largest-and-smallest-using-global-declaration">Largest and Smallest using Global Declaration</a></li>
</ul>
</div>
</div>
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Loops</b></p>
<ul class="counter-list">
<li><a href="loop/for-loop">Basic <code>for</code> Loop</a></li>
<li><a href="loop/while-loop">Basic <code>while</code> Loop</a></li>
<li><a href="loop/do-while-loop">Basic do-while Loop</a></li>
<li><a href="loop/nested-loops">Nested <code>for</code> Loops</a></li>
<li><a href="loop/factorial-program">Program to find Factorial of number</a></li>
<li><a href="loop/fibonacci-series-program">Fibonacci Series Program</a></li>
<li><a href="loop/palindrome-program">Palindrome Program</a></li>
<li><a href="loop/sum-of-digits-program">Program to find Sum of Digits</a></li>
<li><a href="loop/reverse-a-string-program">Program to reverse a String</a></li>
</ul>
</div>
</div>
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Number Crunching</b></p>
<ul class="counter-list">
<li><a href="numbers/average-of-n-numbers">Program to find Average of <code>n</code> Numbers</a></li>
<li><a href="numbers/armstrong-number-program">Armstrong Number</a></li>
<li><a href="numbers/checking-for-odd-or-even">Checking input number for Odd or Even</a></li>
<li><a href="numbers/factors-of-a-number">Print Factors of a Number</a></li>
<li><a href="numbers/sum-of-n-numbers">Find sum of <code>n</code> Numbers</a></li>
<li><a href="numbers/first-n-prime-numbers">Print first <code>n</code> Prime Numbers</a></li>
<li><a href="numbers/finding-largest-among-n-numbers">Find Largest among <code>n</code> Numbers</a></li>
<li><a href="numbers/finding-exponential-without-pow()-method">Exponential without <code>pow()</code>method</a></li>
<li><a href="numbers/input-number-is-int-or-float">Find whether number is <code>int</code> or <code>float</code></a></li>
<li><a href="numbers/multiplication-table-of-a-number">Print Multiplication Table of input Number</a></li>
</ul>
</div>
</div>
</div>

<br>
<br>
<div class="row">
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Concept of Arrays</b></p>
<ul class="counter-list">
<li><a href="array/reverse-an-array">Reverse an Array</a></li>
<li><a href="array/inserting-an-element-in-array">Insert Element to Array</a></li>
<li><a href="array/deleting-an-element-from-array">Delete Element from Array</a></li>
<li><a href="array/largest-and-smallest-element-in-array">Largest and Smallest Element in Array</a></li>
<li><a href="array/sum-of-n-numbers-using-arrays">Sum of N Numbers using Arrays</a></li>
<li><a href="array/sort-array-element-program">Sort Array Elements</a></li>
<li><a href="array/remove-duplicate-element-program">Remove Duplicate Elements</a></li>
<li><a href="array/checking-for-sparse-matrix">Sparse Matrix</a></li>
<li><a href="array/check-square-matrix-is-symmetric-or-not">Square Matrix</a></li>
<li><a href="array/determinant-of-2x2-matrix">Determinant of 2x2 matrix</a></li>
<li><a href="array/normal-and-trace-of-square-matrix">Normal and Trace of Square Matrix</a></li>
<li><a href="array/addition-and-subtraction-of-matrices">Addition and Subtraction of Matrices</a></li>
<li><a href="array/matrix-multiplication-program">Matrix Mulitplication</a></li>
</ul>
</div>
</div>
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Pointers</b></p>
<ul class="counter-list">
<li><a href="pointer/simple-pointer-program">Simple Program</a></li>
<li><a href="pointer/memory-management-program">Memory Management</a></li>
<li><a href="pointer/arrays-of-pointers">Array of Pointers</a></li>
<li><a href="pointer/pointer-increment-and-decrement">Pointer Increment and Decrement</a></li>
<li><a href="pointer/pointer-comparison-program">Pointer Comparison</a></li>
<li><a href="pointer/pointer-to-a-pointer">Pointer to a Pointer</a></li>
<li><a href="pointer/concatenate-strings-using-pointers">Concatenate Strings using Pointer</a></li>
<li><a href="pointer/reverse-a-string-using-pointer">Reverse a String using Pointer</a></li>
<li><a href="pointer/swapping-two-numbers-using-pointers">Swapping Two Numbers</a></li>
<li><a href="pointer/pointer-to-a-function">Pointer to a Function</a></li>
<li><a href="pointer/null-pointer-program">Null Pointer</a></li>
</ul>
</div>
</div>
<div class="col-4">
<div class="card card-light">
<p class="card-heading font-20 roboto"><b>Concept of Recursion</b></p>
<ul class="counter-list">
<li><a href="recursion/adding-two-numbers-using-recursion">Adding Two Numbers</a></li>
<li><a href="recursion/factorial-using-recursion">Factorial</a></li>
<li><a href="recursion/fibonacci-series-using-recursion">Fibonacci Series</a></li>
<li><a href="recursion/sum-of-first-n-numbers">Sum of First N Numbers</a></li>
<li><a href="recursion/sum-of-digits-using-recursion">Sum of Digits</a></li>
<li><a href="recursion/palindrome-using-recursion">Palindrome</a></li>
<li><a href="recursion/power-of-n-using-recursion">Power of N</a></li>
<li><a href="recursion/largest-array-element-using-recursion">Largest Array Element</a></li>
<li><a href="recursion/prime-or-composite-using-recursion">Prime or Composite</a></li>
<li><a href="recursion/lcm-of-two-numbers-using-recursion">LCM of Two Numbers</a></li>
<li><a href="recursion/gcd-of-two-numbers-using-recursion">GCD of Two Numbers</a></li>
<li><a href="recursion/reverse-a-string-using-recursion">Reverse a String</a></li>
</ul>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
</section>
<!-- course section end -->


<!-- banner section -->


<!-- banner section end -->



<!-- footer section -->
<footer>
  <div class="container-fluid" style="background-color:yellowgreen">

    <div class="row">
      <div class="col-md-6 col-lg-3 col-xl-4">
        <div class="margin-b-30">
          <br>
          <a class="logo margin-b-10" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAdkN_Md7XEHO0F1YuC13-dLBa3zcwmQC4P-XBDwuouWcDonCP" alt="Tutorialspoint" style="height:20% width:20%;"></a>
          <br>
          <br>
           <ul>
            <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
          </ul>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by Tutorialspoint by <a href="https://www.tutorialspoint.com" target="_blank">Tutorialspoint</a>


    
        </div><!-- margin-b-30 -->
      </div><!-- col-sm-6 -->
      
      <div class="hidden-lg-down col-xl-2"></div>
      
      <div class="col-md-6 col-lg-2 col-xl-2">
        <div class="footer">
          <br>
          <h5 class="title margin-b-20"><b>ABOUT US</b></h5>
       <ul class="">
             <li><i class="fa fa-check"></i> <a href="/about/index.htm">Company</a></li>
             <li><i class="fa fa-check"></i> <a href="/about/about_team.htm">Our Team</a></li>
             <li><i class="fa fa-check"></i> <a href="/about/about_careers.htm">Careers</a></li>
             <li><i class="fa fa-check"></i> <a href="/about/about_privacy.htm">Privacy Policy</a></li>
             <li><i class="fa fa-check"></i> <a href="/about/about_cookies.htm">Cookies Policy</a></li>
             <li><i class="fa fa-check"></i> <a href="/about/about_terms_of_use.htm">Terms of use</a></li>
             <li><i class="fa fa-check"></i> <a href="/investors/index.htm">Investors</a></li>
          </ul>

          <p>www.tutorialspoint.com</p>
        </div><!-- footer-section -->
      </div><!-- col-sm-2 -->
      
      <div class="col-md-6 col-lg-3 col-xl-2">
        <div class="footer">
            <br>
          <h5 class="title margin-b-20"><b>EXTRA LINKS</b></h5>
           <ul class="">
             <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/articles/">Articles</a></li>
             <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/online_dev_tools.htm">Dev Tools</a></li>
             <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/free_web_graphics.htm">Free Graphics</a></li>
             <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/online_file_conversion.htm">File Conversion</a></li>
             <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/shared-tutorials.php">Shared Tutorials</a></li>
             <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/netmeeting.php">NetMeeting</a></li>
             <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/free_online_whiteboard.htm">Whiteboard</a></li>
          </ul>
        </div><!-- footer-section -->
      </div><!-- col-sm-2 -->
      
      <div class="col-md-6 col-lg-3 col-xl-2">

        <div class="footer">
            <br>
          <h5 class="title margin-b-20"><b>CONTACT US</b></h5>
           <ul>
             <li><p><i class="icon icon-map-marker"></i> <strong>Address:</strong>7th Floor, SP Road, Malabar Hills, Mumbai, Maharashtra,404041</p></li>
             <li><p><i class="icon icon-dribbble"></i> <strong>Website:</strong> <a href="http://www.tutorialspoint.com">www.tutorialspoint.com</a></p></li>
          </ul>
        </div><!-- footer-section -->
      </div><!-- col-sm-2 -->
      
    </div><!-- row -->
  </div><!-- container -->

</footer>
<!-- footer section end -->


  <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>

