img{
    margin: 0 auto;
    width: 200px;
    height: 150px;
}
.card-body{
    text-justify: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card{
    border: 1px solid silver;
    box-shadow: 5px 8px 10px silver;
    border-radius: 5px;

}
