<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAdkN_Md7XEHO0F1YuC13-dLBa3zcwmQC4P-XBDwuouWcDonCP" alt="tutorialspoint" style="height:10px width:10px;">
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a class="site-btn header-btn" routerLink="/login">Login</a>
                <nav class="main-menu">
                    <ul>
                        <li><a routerLink='home' routerLinkActibe="active">Home</a></li>
                        <li><a routerLink='coding'>Coding Examples</a></li>
                        <li><a routerLink='courses'>Courses</a></li>
                        <li><a routerLink='ebook'>Ebooks</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>