
<body background="https://pre00.deviantart.net/402c/th/pre/i/2010/191/3/b/blue_website_background___psd_by_fisher_12.jpg">

<!-- Page info -->
<div class="page-info-section set-bg" style="background-image:url(/assets/page-bg/4.jpg)">
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Home</a>
      <span>Ebooks</span>
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- search section -->
<section class="search-section ss-other-page">
  <div class="container">
    <div class="search-warp">
      <div class="section-title text-white">
        <h2><span>Search your Ebook</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <!-- search form -->
          <form class="course-search-form">
            <input type="text" placeholder="Book Name">
            <input type="text" class="last-m" placeholder="Publication">
            <button class="site-btn btn-dark">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- search section end -->

<br>
<br>
<br>
<br>
<br>


<!-- <iframe src="demo_iframe.htm" height="200" width="300"> -->


   <div class="row" style="background-image: url(https://media.freestocktextures.com/cache/b9/71/b97113e32d32944ef1daad2644f1882d.jpg);">
      
      <div class="col-lg-4 col-md-6">
  <article class="pdf premium" data-premium="0" data-popularity="175" data-rating="473" data-published="1390780800">
              <a href="/en/automation-and-robotics-ebook">
                  <h3>Automation and Robotics</h3>

                  <img src="https://bookboon.com/thumbnail/140/cad3ee13-0f5e-e011-bd88-22a08ed629e5/a55e9eb4-f178-4be6-b662-a47400cad150/automation-and-robotics.jpg" alt="" class="thumb" />

                  <div class="author">
                      Dr. Miltiadis A. Boboulos
                  </div>
                  
                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 127</span>
                  </div>

<span class="rating">
  <span class="stars" style="width: 95%"></span>
</span>
                      <span class="reviews">(101 reviews)
                      </span>

                  <em>
                      In this book we are dealing with series part production featured by a medium complexity degree and a medium number of individual components and assembly technique alternatives.
                  </em>
                </a></article></div>
      
      <div class="col-lg-4 col-md-6">
          <article class="pdf premium" data-premium="0" data-popularity="174" data-rating="465" data-published="1427414400">
              <a href="/en/structured-programming-with-c-plus-plus-ebook">
                  <h3>Structured Programming with C++</h3>

                  <img src="https://bookboon.com/thumbnail/140/79aca396-0bc5-4749-bc9d-a02100f14337/ffe839c2-2cee-4ade-8004-a59900d82739/structured-programming-with-c-plus-plus.jpg" alt="" class="thumb" />

                  <div class="author">
                      Kjell B&#228;ckman
                  </div>

                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 246</span>
                  </div>

<span class="rating">
  <span class="stars" style="width: 93%"></span>
</span>
                      <span class="reviews">(170 reviews)
                      </span>

                    <em>
                      Structured Programming with C++ is intended as course material for the course Structured Programming with C/C++ at university level.
                    </em>
                
      </a></article></div>
      <div class="col-lg-4 col-md-6">
        <article class="pdf premium" data-premium="0" data-popularity="172" data-rating="481" data-published="1483228800">
              <a href="/en/java-1-basic-syntax-and-semantics-ebook">
                  <h3>Java 1: Basic syntax and semantics</h3>

                  <img src="https://bookboon.com/thumbnail/140/25afd2bb-00a8-4c17-86c5-1f8e08bf13da/358563ec-c4b7-4f3a-9edd-6ef96c38c8d4/java-1-basic-syntax-and-semantics.jpg" alt="" class="thumb" />

                  <div class="author">
                      Poul Klausen
                  </div>

                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 135</span>
                  </div>

<span class="rating">
  <span class="stars" style="width: 96%"></span>
</span>
                      <span class="reviews">(16 reviews)
                      </span>

                    <em>
                      This book is the first in a series of books on software development in Java.
                    </em>
                  </a></article></div>
              
      

       <div class="col-lg-4 col-md-6">
          <article class="pdf premium" data-premium="0" data-popularity="171" data-rating="477" data-published="1436400000">
              <a href="/en/database-design-and-implementation-ebook">
                  <h3>Database Design and Implementation</h3>

                  <img src="https://bookboon.com/thumbnail/140/055917d6-7e80-4b84-850a-a4d000c4276a/5fd64c5d-40d7-421a-ae21-a5d900d9d963/database-design-and-implementation.jpg" alt="" class="thumb" />

                  <div class="author">
                      Howard Gould
                  </div>

                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 164</span>
                  </div>

<span class="rating">
  <span class="stars" style="width: 95%"></span>
</span>
                      <span class="reviews">(30 reviews)
                      </span>

                    <em>
                      This book explains the essential relational database design modelling techniques and shows how SQL can be used to implement a database. There are numerous practical exercises with feedback.
                    </em>
                  
          
                </a></article></div>


      <div class="col-lg-4 col-md-6">
         <article class="pdf premium" data-premium="0" data-popularity="162" data-rating="473" data-published="1521158400">
              <a href="/en/object-oriented-programming-using-c-sharp-ebook">
                  <h3>Object Oriented Programming using C#</h3>

                  <img src="https://bookboon.com/thumbnail/140/c9684c3e-0fc2-4cba-a403-9f5600caa96b/784ac7de-b361-4f07-90b0-5d148ce0b10b/object-oriented-programming-using-c-sharp.jpg" alt="" class="thumb" />

                  <div class="author">
                      Simon Kendal
                  </div>

                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 421</span>
                  </div>

<span class="rating">
  <span class="stars" style="width: 95%"></span>
</span>
                      <span class="reviews">(63 reviews)
                      </span>

                  <em>
                      This book will explain the Object Oriented approach to programming and through the use of small exercises, for which feedback is provided, develop some practical skills as well.
                    </em>
                  
              

                </a></article></div>

      <div class="col-lg-4 col-md-6">
         <article class="pdf premium" data-premium="0" data-popularity="160" data-rating="0" data-published="1479254400">
              <a href="/en/introduction-to-e-commerce-ebook">
                  <h3>Introduction to E-Commerce</h3>

                  <img src="https://bookboon.com/thumbnail/140/175d04a7-1fbf-4d32-9590-07ba550f673b/8e3908d9-941e-417b-874c-08ac9c9a0f8b/introduction-to-e-commerce.jpg" alt="" class="thumb" />

                  <div class="author">
                      Prof. Dr. Martin K&#252;tz
                  </div>

                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 209</span>
                  </div>


                  <em>
                      From technologies to processes, from B2C to B2B, from payment to security, the book investigates E-Commerce integratedly – for readers with an economic as well as with a computer science background.
                    </em>
                  
              
                </a></article></div>

 

      <div class="col-lg-4 col-md-6">
        <article class="pdf premium" data-premium="0" data-popularity="155" data-rating="0" data-published="1533254400">
              <a href="/en/java-17-more-about-java-and-android-ebook">
                  <h3>Java 17: More about Java and Android</h3>

                  <img src="https://bookboon.com/thumbnail/140/162503ab-7234-4cb9-9d26-2c1fb929a93f/60ac29bc-d7c6-4a7b-a565-ab701c3642ab/java-17-more-about-java-and-android.jpg" alt="" class="thumb" />

                  <div class="author">
                      Poul Klausen
                  </div>

                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 147</span>
                  </div>


                  <em>
                      The book is about writing applications for Android and is a continuation of the previous book in this series.
                    </em>
                </a></article></div>
          

 

      <div class="col-lg-4 col-md-6">
         <article class="pdf premium" data-premium="0" data-popularity="141" data-rating="485" data-published="1508198400">
              <a href="/en/an-introduction-to-windows-operating-system-ebook">
                  <h3>An Introduction to Windows Operating System</h3>

                  <img src="https://bookboon.com/thumbnail/140/257240c2-8117-45f4-916a-a56100abe384/f00a1435-ac82-409e-a89d-a56100d0d6d5/an-introduction-to-windows-operating-system.jpg" alt="" class="thumb" />

                  <div class="author">
                      Einar Krogh
                  </div>

                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 137</span>
                  </div>

<span class="rating">
  <span class="stars" style="width: 97%"></span>
</span>
                      <span class="reviews">(13 reviews)
                      </span>

                    <em>
                      This book is about Windows operating system written for courses in operating systems. 
                    </em>
                  

                </a></article></div>
     

      <div class="col-lg-4 col-md-6">
        <article class="pdf premium" data-premium="0" data-popularity="134" data-rating="430" data-published="1411257600">
              <a href="/en/artificial-intelligence-agent-behaviour-i-ebook">
                  <h3>Artificial Intelligence – Agent Behaviour</h3>

                  <img src="https://bookboon.com/thumbnail/140/bfd3ee13-0f5e-e011-bd88-22a08ed629e5/e26ae33c-ab9e-4ed4-9b5c-a54f00a4c337/artificial-intelligence-agent-behaviour-i.jpg" alt="" class="thumb" />

                  <div class="author">
                      William John Teahan
                  </div>

                  <div class="pages">
                          <span>
                              <b class="pricePremium">Premium</b>
                              <b class="priceFree">Free</b>
                          </span>
                          <span>PDF</span>
                          <span>English</span>    
                          <span>Pages 257</span>
                  </div>

<span class="rating">
  <span class="stars" style="width: 86%"></span>
</span>
                      <span class="reviews">(23 reviews)
                      </span>

                    <em>
                      This book is the second in a series on Artificial Intelligence. It adopts a behaviour-based approach to the design of agent-oriented systems.
                    </em>
                  
                </a></article></div>


<!-- banner section -->
</div>
<div style="background-color: yellowgreen;">
<br>
<br>
<br>
</div>
<!-- banner section end -->


<!-- footer section -->
<footer >
  <div class="container-fluid" style="background-color:yellowgreen">

      <div class="row">
          <div class="col-md-6 col-lg-3 col-xl-4">
              <div class="margin-b-30">
                  <br>
                  <a class="logo margin-b-10" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAdkN_Md7XEHO0F1YuC13-dLBa3zcwmQC4P-XBDwuouWcDonCP" alt="Tutorialspoint" style="height:20% width:20%;"></a>
                  <br>
                  <br>
                   <ul>
        <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
      </ul>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by Tutorialspoint by <a href="https://www.tutorialspoint.com" target="_blank">Tutorialspoint</a>      
              </div><!-- margin-b-30 -->
          </div><!-- col-sm-6 -->
          
          <div class="hidden-lg-down col-xl-2"></div>
          
          <div class="col-md-6 col-lg-2 col-xl-2">
              <div class="footer">
                  <br>
                  <h5 class="title margin-b-20"><b>ABOUT US</b></h5>
         <ul class="">
         <li><i class="fa fa-check"></i> <a href="/about/index.htm">Company</a></li>
         <li><i class="fa fa-check"></i> <a href="/about/about_team.htm">Our Team</a></li>
         <li><i class="fa fa-check"></i> <a href="/about/about_careers.htm">Careers</a></li>
         <li><i class="fa fa-check"></i> <a href="/about/about_privacy.htm">Privacy Policy</a></li>
         <li><i class="fa fa-check"></i> <a href="/about/about_cookies.htm">Cookies Policy</a></li>
         <li><i class="fa fa-check"></i> <a href="/about/about_terms_of_use.htm">Terms of use</a></li>
         <li><i class="fa fa-check"></i> <a href="/investors/index.htm">Investors</a></li>
      </ul>

                  <p>www.tutorialspoint.com</p>
              </div><!-- footer-section -->
          </div><!-- col-sm-2 -->
          
          <div class="col-md-6 col-lg-3 col-xl-2">
              <div class="footer">
                      <br>
                  <h5 class="title margin-b-20"><b>EXTRA LINKS</b></h5>
                   <ul class="">
         <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/articles/">Articles</a></li>
         <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/online_dev_tools.htm">Dev Tools</a></li>
         <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/free_web_graphics.htm">Free Graphics</a></li>
         <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/online_file_conversion.htm">File Conversion</a></li>
         <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/shared-tutorials.php">Shared Tutorials</a></li>
         <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/netmeeting.php">NetMeeting</a></li>
         <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/free_online_whiteboard.htm">Whiteboard</a></li>
      </ul>
              </div><!-- footer-section -->
          </div><!-- col-sm-2 -->
          
          <div class="col-md-6 col-lg-3 col-xl-2">

              <div class="footer">
                      <br>
                  <h5 class="title margin-b-20"><b>CONTACT US</b></h5>
                   <ul>
         <li><p><i class="icon icon-map-marker"></i> <strong>Address:</strong>7th Floor, SP Road, Malabar Hills, Mumbai, Maharashtra,404041</p></li>
         <li><p><i class="icon icon-dribbble"></i> <strong>Website:</strong> <a href="http://www.tutorialspoint.com">www.tutorialspoint.com</a></p></li>
      </ul>
              </div><!-- footer-section -->
          </div><!-- col-sm-2 -->
          
      </div><!-- row -->
  </div><!-- container -->

</footer>
<!-- footer section end -->
</body>