
<section class="hero-section set-bg" style="background-image: url(https://st.depositphotos.com/3223379/4561/i/950/depositphotos_45617079-stock-photo-global-computer-network-on-abstract.jpg)">
    <div class="container">
        <div class="hero-text text-white">
            <h2 style="color:black ">Get The Best Free Online Courses</h2>
            <h2 style="color:black ">New User Sign Up Now!!</h2>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <form class="intro-newslatter">
                    <input type="text" placeholder="Name">
                    <input type="text" class="last-s" placeholder="E-mail">
                    <button class="site-btn">Sign Up Now</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="categories-section spad" style="background-color:#ccff99">
    <div class="container">
        <div class="section-title">
            <h2>Tutorials Library</h2>
            <h4>learn online courses from our website with easy and lucid explanation!!</h4>
        </div>
        <div class="row">
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url(/assets/categories/1.jpg)"></div>
                    <div class="ci-text">
                        <h5>Computer Science</h5>
                        
                        <span>120 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url(/assets/categories/2.jpg)"></div>
                    <div class="ci-text">
                        <h5>Web Development</h5>
                    
                        <span>70 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url(/assets/categories/3.jpg)"></div>
                    <div class="ci-text">
                        <h5>Programming Tutorials</h5>
                    
                        <span>55 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url(/assets/categories/4.jpg)"></div>
                    <div class="ci-text">
                        <h5>Java technologies</h5>
                    
                        <span>40 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url(/assets/categories/5.jpg)"></div>
                    <div class="ci-text">
                        <h5>Mobile Development</h5>
                    
                        <span>220 Courses</span>
                    </div>
                </div>
            </div>
            <!-- categorie -->
            <div class="col-lg-4 col-md-6">
                <div class="categorie-item">
                    <div class="ci-thumb set-bg" style="background-image:url(/assets/categories/6.jpg)"></div>
                    <div class="ci-text">
                        <h5>DataBase tutorials</h5>
                    
                        <span>25 Courses</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="search-section" style="background-color:#ccff99;">
    <div class="container">
        <div class="search-warp">
            <div class="section-title text-white">
                <h2>Search your course</h2>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <!-- search form -->
                    <form class="course-search-form">
                        <input type="text" placeholder="Course">
                        <input type="text" class="last-m" placeholder="Category">
                        <button class="site-btn">Search Course</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- search section end -->


<!-- course section -->

<!-- course section end -->


<!-- signup section -->

<!-- signup section end -->


<!-- banner section -->
<div style="background-color: #ccff99;">
<br>
<br>
<br>
</div>
<footer >
    <div class="container-fluid" style="background-color:yellowgreen">

        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl-4">
                <div class="margin-b-30">
                    <br>
                    <a class="logo margin-b-10" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAdkN_Md7XEHO0F1YuC13-dLBa3zcwmQC4P-XBDwuouWcDonCP" alt="Tutorialspoint" style="height:20% width:20%;"></a>
                    <br>
                    <br>
                     <ul>
          <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
        </ul>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by Tutorialspoint by <a href="https://www.tutorialspoint.com" target="_blank">Tutorialspoint</a>

        
                </div><!-- margin-b-30 -->
            </div><!-- col-sm-6 -->
            
            <div class="hidden-lg-down col-xl-2"></div>
            
            <div class="col-md-6 col-lg-2 col-xl-2">
                <div class="footer">
                    <br>
                    <h5 class="title margin-b-20"><b>ABOUT US</b></h5>
           <ul class="">
           <li><i class="fa fa-check"></i> <a href="/about/index.htm">Company</a></li>
           <li><i class="fa fa-check"></i> <a href="/about/about_team.htm">Our Team</a></li>
           <li><i class="fa fa-check"></i> <a href="/about/about_careers.htm">Careers</a></li>
           <li><i class="fa fa-check"></i> <a href="/about/about_privacy.htm">Privacy Policy</a></li>
           <li><i class="fa fa-check"></i> <a href="/about/about_cookies.htm">Cookies Policy</a></li>
           <li><i class="fa fa-check"></i> <a href="/about/about_terms_of_use.htm">Terms of use</a></li>
           <li><i class="fa fa-check"></i> <a href="/investors/index.htm">Investors</a></li>
        </ul>

                    <p>www.tutorialspoint.com</p>
                </div><!-- footer-section -->
            </div><!-- col-sm-2 -->
            
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="footer">
                        <br>
                    <h5 class="title margin-b-20"><b>EXTRA LINKS</b></h5>
                     <ul class="">
           <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/articles/">Articles</a></li>
           <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/online_dev_tools.htm">Dev Tools</a></li>
           <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/free_web_graphics.htm">Free Graphics</a></li>
           <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/online_file_conversion.htm">File Conversion</a></li>
           <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/shared-tutorials.php">Shared Tutorials</a></li>
           <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/netmeeting.php">NetMeeting</a></li>
           <li><i class="fa fa-check"></i> <a href="https://www.tutorialspoint.com/free_online_whiteboard.htm">Whiteboard</a></li>
        </ul>
                </div><!-- footer-section -->
            </div><!-- col-sm-2 -->
            
            <div class="col-md-6 col-lg-3 col-xl-2">

                <div class="footer">
                        <br>
                    <h5 class="title margin-b-20"><b>CONTACT US</b></h5>
                     <ul>
           <li><p><i class="icon icon-map-marker"></i> <strong>Address:</strong>7th Floor, SP Road, Malabar Hills, Mumbai, Maharashtra,404041</p></li>
           <li><p><i class="icon icon-dribbble"></i> <strong>Website:</strong> <a href="http://www.tutorialspoint.com">www.tutorialspoint.com</a></p></li>
        </ul>
                </div><!-- footer-section -->
            </div><!-- col-sm-2 -->
            
        </div><!-- row -->
    </div><!-- container -->

</footer>
<!-- footer section end -->
